/* Theme Variables */
:root {
   --green: #065627;
   --purple: #300a65;
   --purple-dark: #24094d;
   --purple-mid: #421a87;
   --red: #940439;
   --gray-light: #e3e3e3;
   --gray: #d9d9d9;
   --white: #ffffff;
   --bg: #f8f8f5;
   --text: #222;
   --shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
}